//Read More//
.button{
    border: none;
    text-align: center;
    background-color: $color-primario;
    color: $color-text-primario;
    width: 144px;
    height: 48px;
    font-size: 16px;
    font-family: $font-primario;
    margin-bottom:39px;
    border-radius: 25px;
    }