
.main__contenedor3{
    display: flex;
    background:url(/images/section4-image.png) no-repeat right;
    width: 100%;
    height: 768px;
    .main__contenedor3__accordion{
        margin-top: 144px;
        margin-left: 101px;
        width: 669px;
    }
}
