@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,300;1,400&display=swap');
 
$font-primario:'Roboto',sans-serif;
$font-secundario:'Poppins',sans-serif;


$line-height:28px;
$letter-spacing:0.22px;