
.header{
    width: 100%;
    min-height: 100vh;
    background: transparent url('/images/slider-1.png') 100% ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
    .header__navbar{
        width: 100%;
        height: 6em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-primario;
        .header__navbar__25watt{
            img{
                margin-left: 101px;
            }
        }
        .header__navbar__links{
            align-items: center;
            flex-wrap: wrap;
            margin-right: 101px;
            a{
                font-size: 1em;
                color:$color-secundario;
                font-family:$font-primario;
                text-decoration: none;
                
            }
            ul{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 1.875em;
                li{
                    &:hover{
                        border-bottom: 2px solid $color-primario;
                    }
                    
                }
       
            }
            
        }
        
    }
    .header__parte1{
        display: flex;
        flex-direction: column;
        margin-left: 101px;
        .header__parte1__texto{
            margin-top: 158px;
            display: flex;
            flex-direction: column;
             h1{
                 color: $color-secundario;
                 font-size: 3rem;
                 font-family: $font-secundario;
                 width: 554px;
                 height: 115px;
                 margin-bottom:30px;
                }
                p{
                font-family: $font-secundario;
                width: 30%;
                color: $color-secundario;
                margin-bottom:39px;
            }
        }
        .header__parte1__control-slider{
            display: flex;
            gap: 0.9375em;
            button{
                font-size: 1em;
                padding: 4px;
                border: none;
                border-radius: 100%;
                background-color: $color-control;
                    &:focus{
                    background-color:$color-primario;
                }
            }    
        }

    }
    
}
